@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">O ASP.NET é uma estrutura da Web gratuita para criar ótimos sites e aplicativos da Web usando HTML, CSS e JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Começando</h2>
        <p>
            A ASP.NET MVC oferece uma maneira poderosa, baseada em padrões, de construir sites dinâmicos que permitem uma separação clara de preocupações e lhe dá controle total sobre a marcação para um desenvolvimento ágil e agradável.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obtenha mais bibliotecas</h2>
        <p>O NuGet é uma extensão gratuita do Visual Studio que facilita adicionar, remover e atualizar bibliotecas e ferramentas em projetos do Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Você pode facilmente encontrar uma empresa de hospedagem que oferece a combinação certa de recursos e preço para seus aplicativos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leia mais &raquo;</a></p>
    </div>
</div>